
<div class="row">

 <div class="col-md-4">
  <%= image_tag @restaurant.place_pic.url(:place_show), class: "restaurant-show" %>
  </div>

  <div class="col-md-8"> 
  <div class="restaurant-info">
  <h2 class="restaurant-name"> <%= @restaurant.name %> </h2>
  <h5 class="restaurant-phone"> Phone: <%= @restaurant.phone %> </h5>
  <h5 class="restaurant-address"> Address: <%= @restaurant.address %> </h5>
  <h5> Category: <%= @restaurant.category.name %> </h5>
  <h2 class="avg-rating"> Average rating</h2>
  <div class="average-review-rating" class="glyphicon glyphicon-star" data-score="<%= @average_review %>">
  
  </div>
  <span class="number-of-reviews"> Based on <%= @restaurant.reviews.count %> Reviews </span>
  <p class="restaurant-desc"> <%= @restaurant.description %> </p>

</div>
</div>
</div>

<div class="row">
    <div class="col-md-4">

      <div class="reviews">
       <h1> Reviews </h1>
         <!-- where the reviews/ratings go -->
          <%= render @restaurant.reviews %>
         <div>
         <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class:"btn-custom" %>
        </div>
    </div>

    </div>

</div>

<div class="links btn-group">
<%= link_to "Back", root_path, class:"btn btn-custom" %>

<% if user_signed_in? %>

<% if @restaurant.user_id == current_user.id %>
    <%= link_to "Edit", edit_restaurant_path(@restaurant), class:"btn btn-custom"%>
    <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Sure you want to delete it?"}, class:"btn btn-custom"%>

    <%end%>

<%end%>
</div>

<script>
  
jQuery(function() {
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '../assets/images/'
    });
});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
	  path: '../assets/images/',
	 	score: function() {
 		return $(this).attr('data-score')
 	}
 });
</script>