<h2> <%= @restaurant.name %> </h2>
<h5> Phone: <%= @restaurant.phone %> </h5>
<h5> Address: <%= @restaurant.address %> </h5>
<h5> Category: <%= @restaurant.category.name %> </h5>
<p> <%= @restaurant.description %> </p>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

<% if @restaurant.user_id == current_user.id %>
    <%= link_to "Edit", edit_restaurant_path(@restaurant)%>
    <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Sure you want to delete it?"}%>

    <%end%>

<%end%>